html, body {
  font-size: 14px;
}

.container-fluid {
  width: 100%;
}

#header_logo  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}


.navbar-header  {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
}

@media only screen and (max-width:700px) {

  .panda_logo img   {
    width: 90%;
  }
}

.navbar   {
  margin-bottom: 0%;
}

.navbar-header h1   {
  font-family: 'Aclonica', sans-serif;
  font-style: oblique;
  color: red;
  font-weight: bold;
  font-size: 44px;
}

.navbar-row {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

#nav-about {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 5px;
}

/* main menu */

.menu {
  text-align: center;
}

.menu h1 {
  font-family: 'Aclonica', sans-serif;
  color: #284B7E;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: MediumAquaMarine;
}

@media only screen and (max-width:700px)  {
  .navbar-header h1   {
    font-size: 36px;
  }
  .menu h1  {
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 30px;
  }
}
/* main menu images */

.main_menu_image {
  width: 30%;
}

.image_box img:hover  {
  transform: scale(1.2);
  overflow: hidden;
}

#main-Menu  {
  margin-bottom: 20px;
}

/*--  .main_menu_image  {
  width: 30%;
}
--*/

.main_menu_image img  {
  width: 100%;
  height: 220px;
  padding: 5px;
  border: 5px solid gray;
}

.item h3  {
  color:#284B7E;
  font-family: 'Aclonica', sans-serif;
}

.item p   {
  color: #803315;
  font-size: 1.4rem;
  font-style: italic;
  font-family: 'Aclonica', sans-serif;
}

@media only screen and (max-width: 700px) {
  .main_menu_image  {
    width: 100%;
    height: inherit;
  }
  .main_menu_image  {
    width: 100%;
  }
  .image_box img:hover {
    transform: scale(1);
  }
}

/*-- Order Details --*/
.payment h1   {
  font-family: 'Aclonica', sans-serif;
  color: #284B7E;
}

#total_order, #payment {
  text-align: center;
  font-family: 'Aclonica', sans-serif;
}

.payment  {
  background-color: yellow;
  text-align: center;
}

#payment  {
padding-bottom: 10px;
}

#credit_card  {
  text-align: center;
}

.order  {
  color: dimgray;
}

@media only screen and (max-width:600px)  {
  #total_order, #payment {
    text-align: justify;
  }
  .payment h1   {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

/*-- Payment Detail --*/

.submit   {
  margin-bottom: 20px;
}

/*-- Footer--*/

footer  {
  background-color: #009999;
}

.icon {
  height: 100px;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: bold;
  padding-left: 0;
  padding-right: 0;
}

footer a {
  font-size: 36px;
  color: black;
  padding: 0 15px;
}

.copy   {
  text-align: center;
  padding-bottom: 15px;
}

/*-- about us section--*/
.about_us   {
  width: 100%;
  text-align: center;
}

#about_us h1  {
  text-align: center;
  text-decoration: underline;
  color: #1240ab;
}
#about_us img   {
  border: 4px solid black;
}

#about_us h3 {
  padding: 10px;
  font-weight: 500;
  line-height: 1.3em;
  letter-spacing: 0.15em;
  color: #206676;
  display: inline-block;
}

.a {
  text-indent: 40px;
}
